{% extends "base.html" %}
<div class="container">
    {% block body_content %}
    <h3>Contacts</h3>
    <p>this is about contacts page with inheritance </p>


     {% endblock %}
</div>

{% block nav_bar %}
    <li class="active"><a href="home2">Home</a></li>
    <li><a {% url 'contactf' %}>contacts</a></li>
{% include 'navbar.html' %}
{% endblock %}


<div class="footer" style="background-color: #000; color: white;text-align: center; width: 100%;">
    {% block footer %}
    <p>contacts</p>
    {% endblock %}
</div>
</body>
</html>
