<!DOCTYPE html>
<head>
    <title>table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("td").click(function(){
                alert($(this).text())
            })
        alert("ok")
        })
    </script>
</head>
<body>
<dir class="container" style="font-family: cursive; color: #000;width: 500px;">
     <h3 style="text-align: center;">table</h3>
        <table class="table table-bordered" style="border-collapse: collapse;border: double;background-color: #15b5b51a;">
            <thead></thead>
            <tbody>
                {% for ele in l %}
                <tr>
                    {% for i in ele %}
                    <td>{{i}}</td>
                     {% endfor%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <p>{{l}}</p>
    <p>{{l.0}}</p>
    <p>{{l.0.0}}</p>
</dir>
</body>