{% extends 'base.html' %}
{% block content %}
{% load static %}
<h2>Home page</h2>

<h1>Product Card</h1>
{% for item in all_items %}
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <p><img class="card-img-top img-fluid" src="{{item.image_url}}" alt="img not found"></p>
        <h1>{{item.name}}</h1>
        <p class="price">{{item.cost}}</p>
        <p>{{item.description}}</p>
        <p><button>view Details</button></p>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}
