{% extends 'base.html' %}
{% block content %}
<h2>Home page</h2>
<div class="container">
    <form method="post">
        {% csrf_token %}
    <table class="table table-bordered">
    <tr style="background-color:gray">
        <th>Id</th>
        <th>name</th>
        <th>cost</th>
        <th>image_url</th>
        <th>description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for item in all_items %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.cost}}</td>
        <td>{{item.image_url}}</td>
        <td>{{item.description}}</td>
        <td><input type="submit" value="Edit" name="edit"></td>
        <td><input type="submit" value="Delete" name="delete"></td>
    </tr>
    {%endfor%}
</table>
    {% endblock %}
    </form>
</div>